.hero-error {
	min-height: 100%;
	height: 100%;
	position: relative;
	padding: 7rem 0;
	@include background-variant(cover, center, no-repeat);
	&:before {
		content: " ";
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.hero-error-content {
		position: relative;
		width: 100%;
		max-width: 640px;
		margin: 0 auto;
	}
	.error-heading {
		font-size: 3.75rem;
		line-height: 1;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.error-heading-text {
		display: block;
		font-size: 5rem;
		color: $color-secondary;
		letter-spacing: 0.08em;
	}
	.error-subtitle {
		font-size: 1.5rem;
		a {
			color: $color-secondary;
		}
	}
}