.hero-pages-blank {
    background-color: transparent !important;
}
.hero-pages-about {
    background-color: transparent !important;
    .hero-heading {
        font-size: 3rem;
        line-height: 1.3;
        span {
            color: $color-heading;
        }
    }
}
.mission-office {
    .mission-image {
    	background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        margin-top: 2rem;
    }
}

.section-hutch {
    padding: 0;
}
.hutch-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hutch-content {
    padding: 1.5rem;
}
.hutch-denote {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.hutch-heading {
    font-size: 2.5rem;
    font-weight: bold;
}
.hutch-image {
    height: 100%;
}
@include media-breakpoint-up(md) { 
    .section-hutch {
        height: 550px;
        .row {
            height: 100%;
        }
    }   
}
@include media-breakpoint-up(lg) { 
    .section-hutch {
        height: 100%;
        .row {
            height: 100%;
        }
    }   
}
@media (max-width: 767px) {
    .section-hutch {
        height: auto;
        position: relative;

        .col-hutch-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .65;
        }
    }
}

.section-about-empty {
    min-height: 75%;
    .about_highlight-para {
        font-size: 1.25rem;
    }
}

.section-team {
    padding-bottom: $section-gutter - 4rem;
}
.col-team {
    margin-bottom: 4rem;
}
.team-item {
    display: block;
    text-align: center;
    .team-name, .team-designation {
        color: $color-text;
    }
    .team-designation {
        opacity: 0.55;
    }
    .read-bio {
        font-size: 0.750rem;
        text-transform: uppercase;
        letter-spacing: 0.063rem;
        transition: all .3s linear;
        display: inline-block;
        margin-top: .25rem;
        position: absolute;
        bottom: -11px;
        left: 50%;
        background-color: $white;
        border-radius: .125rem;
        padding: .125rem .375rem;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
    }
    &:hover {
        .read-bio {
            opacity: 1;
        }
    }
}
.team-denote {
    padding-top: 1.25rem;
}
.team-name {
    margin-bottom: .25rem;
}
.team-socials {
    list-style: none;
    padding: 0;
    margin: .5rem -6px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    li {
        padding-left: 6px;
        padding-right: 6px;
    }
    a {
        font-size: 1.25rem;
        color: $color-text;
        opacity: .65;
        transition: all .3s linear;
        &:hover, &:focus {
            color: $color-primary;
            opacity: 1;
        }
    }
}
.team-avater {
    position: relative;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
    &:before {
        display: block;
        content: "";
        padding-top: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        transition: all .3s linear;
        border-radius: 8px;
        filter: grayscale(100%);
    }
}
.team-item:hover {
    .team-avater {
        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }   
}


.bio-block {
    position: relative;
    background-color: $white;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 1rem auto;
}
.bio-header {
    display: flex;
    align-items: center;
    .bio-media-image {
        position: relative;
        width: 100%;
        width: 160px;
        margin-right: 1.5rem;
        &:before {
            display: block;
            content: "";
            padding-top: 100%;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
            transition: all .3s linear;
            border-radius: 8px;
        }
    }
    .bio-name {
        margin-bottom: .25rem;
    }
    .bio-designation {
        opacity: 0.55;
    }
}
.bio-content {
    padding-top: 1rem;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team-tab-content-height {
    min-height: 748px;
}
.nav-team {
    font-size: 1.375rem;
    margin-bottom: 4rem;
    .nav-link {
        position: relative;
        color: $color-heading;
        padding-left: 1rem;
        padding-right: 1rem;
        opacity: .65;
        &:before {
            content: "\f3d1";
            display: block;
            font-family: "Ionicons";
            font-size: 1.125rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity .3s linear;
        }
    }
    .active {
        color: $primary;
        opacity: 1;
    }
}

.team-hiring {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    .team-hiring-label {
        color: $color-primary;
        text-transform: uppercase;
        font-weight: bold;
    }
    .team-denote {
        padding-top: 0;
    }
    .team-hiring-title {
        max-width: 200px;
        margin: 1rem auto 1.5rem;
        position: relative;
        line-height: 1.3;
        &:before {
            content: " ";
            width: 46px;
            height: 3px;
            background-color: $color-primary;
            position: absolute;
            left: 50%;
            bottom: -1.5rem;
            transform: translateX(-50%);
        }
    }
    .join-team-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}


// new
.section-career-bg {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.c__life {
    background-color: $white;
    border: 1px solid lighten($color: $color-primary, $amount: 27%);
    box-shadow: 0 0 15px lighten($color: $color-primary, $amount: 27%);
    padding: 50px;
    min-height: 100%;
    transition: all .25s linear;
    .c__life-title {
        max-width: 160px;
        margin-bottom: 1.5rem;
        transition: all .25s linear;
    }
    &:hover {
        box-shadow: 0 0 20px lighten($color: $color-primary, $amount: 25%);
        .c__life-title {
            color: $color-primary;
        }
    }
}

.c__facilities {
    @include list-unstyled;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 8px 15px;
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;

    }
}
.c__facilities-item {
    display: flex;
    align-items: center;
    .c__facilities-icon {
        font-size: 1.75rem;
        line-height: 1;
        color: $color-primary;
        margin-right: 10px;
        transition: all .25s linear;
    }
    .c__facilities-text {
        transition: all .25s linear;
    }
    &:hover {
        .c__facilities-icon {
            transform: scale(1.05)
        }
        .c__facilities-text {
            padding-left: 4px;
            color: $color-primary;
        }
    }
}

.section-career_position {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: $block-space;

    .career-position-block {
        background-color: $bg-gray;
        padding: $block-space;
    }
}

.open-positions {
    @include list-unstyled;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border-top: 1px solid $border-color;
    .position-item {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        background-color: $white;
        border-bottom: 1px solid $border-color;
        transition: all .25s linear;
        position: relative;
    }
    .position-cell {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        &.-name {
            flex: 0 0 80%;
            max-width: 80%;
        }
        &.-action {
            flex: 0 0 20%;
            max-width: 20%;
            text-align: right; 
        }
    }
    .p-title {
        margin-bottom: .25rem;
    }
    .btn-apply {
        font-size: .750rem;
        text-transform: uppercase;
        letter-spacing: .063rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .position-item {
        &:hover {
            box-shadow: 0 5px 15px rgba($color: $black, $alpha: .1);
            z-index: 5;
            padding-left: 16px;
            padding-right: 16px;
            .p-title {
                color: $color-primary;
            }
        }
    }
}

.section-career_images {
    width: 100%;
    padding: 0 5%;
}
.career_images__image {
    position: relative;
    &:before {
        content: " ";
        display: block;
        padding-top: 62.5%;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }
}

.about_highlight-title {
    font-size: 2.125rem;
    line-height: 1.5;
}

.section-investor_block {

}
.investor_block {
    border-top: 1px solid $border-color;
    padding-top: $block-space;
    .investor_block-title {
        margin-bottom: 2rem;
        text-align: center;
        letter-spacing: .063rem;
    }
    .investor_block-lists {
        @include list-unstyled;
        margin: 0 -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.investor_block-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    height: 140px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(100%);
        transition: all .25s ease;
    }
}
.card-investor_block {
    border: 1px solid $border-color;
    padding: 1rem;
    transition: all .25s ease;

    &:hover {
        box-shadow: 0 10px 15px rgba($primary, .15);
        img {
            filter: grayscale(0%);
        }
    }
}



// About New 
.section-company-growth {
    position: relative;
    &:before {
        content: " ";
        display: block;
        width: 100%;
        background-color: $color-tertiary;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.company-growth-chart {
    margin-top: -80px;
    position: relative;
}
.growth-charts-labels {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}


.growth-chart-mobile-dot {
    display: none;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 50%;
    margin: -5px 0 0 -5px;
    bottom: 20vw;
    box-shadow: 0 2px 4px 0 rgba(23,40,68,0.13);
    border: solid 2px white;
    border-radius: 50%;
    background-color: $primary;
}

.growth-label {
    position: absolute;
    /* font-size: 1.0625rem;
    line-height: 1.41;
    letter-spacing: 0.2px; */
    width: 11px;
    height: 11px;
    box-shadow: 0 2px 4px 0 rgba(23,40,68,0.13);
    border: solid 2px white;
    border-radius: 50%;
    background-color: $primary;
    &:nth-child(odd) {
        .growth-label-content {
            bottom: auto;
            top: 100%;
        }
        .growth-label-line {
            order: -1; 
            margin-bottom: 5px;
        }
    }
    .growth-label-headline {
        padding-bottom: 5px;
    }
    .growth-label-year {
        opacity: 0.35;
    }
}
.growth-label-icon {
    .path1, .path4 {
        fill: $color-darkblue;
    }
    .path2 {
        fill: $primary;
    }
    .path3 {
        stroke: $primary;
    }
}
.growth-label-content {
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    flex-direction: column;
    width: 210px;
    margin: 5px 0 5px -8px;
}
.growth-label-line {
    width: 3px;
    height: 100px;
    margin: 5px 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b1b5c1), color-stop(50%, #b1b5c1), color-stop(50%, transparent), to(transparent));
    background-image: -webkit-linear-gradient(top, #b1b5c1, #b1b5c1 50%, transparent 50%, transparent 100%);
    background-image: -o-linear-gradient(top, #b1b5c1, #b1b5c1 50%, transparent 50%, transparent 100%);
    background-image: linear-gradient(to bottom, #b1b5c1, #b1b5c1 50%, transparent 50%, transparent 100%);
    opacity: .5;
    background-size: 3px 6px;
}
.growth-label--one {
    left: 11%;
    bottom: 33.9%;
    .growth-label-line {
        height: 90px;
    }
}
.growth-label--two {
    left: 22%;
    bottom: 34.3%;
    .growth-label-line {
        height: 119px;;
    }
}

.growth-label--three {
    bottom: 35.9%;
    left: 33%;
    .growth-label-line {
        height: 90px;
    }
}

.growth-label--four {
    bottom: 38.8%;    
    left: 44%;
    .growth-label-line {
        height: 110px;
    }
}
.growth-label--five {
    bottom: 43%;
    left: 55%;
    .growth-label-line {
        height: 150px;
    }
}
.growth-label--six {
    bottom: 48.9%;
    left: 66%;
    .growth-label-line {
        height: 100px;
    }
}

.growth-label--seven {
    bottom: 56.5%;
    left: 77%;
    .growth-label-line {
        height: 200px;
    }
}

.growth-label--eight {
    left: 90%;
    bottom: 67.8%;
    .growth-label-line {
       height: 140px;
       align-self: flex-end;
    }
    .growth-label-content {
        width: 260px;
        margin: 5px -8px 5px 0;
        left: auto;
        right: 0;
    }
    .growth-label-entry {
        position: relative;
        right: -58px;
    }
}


.growth-chart-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.growth-charts-labels {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

@media (min-width: 576) {
    .nav-team {
        font-size: 2rem;
        .nav-link {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (min-width: 768px) {
    .bio-block {
        padding: 2.5rem;
    }
    .bio-content {
        padding-top: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.8;
    }
}

@media (min-width: 992px) {
    .growth-label {
        &:nth-child(odd) {
            color: $white;
            .growth-label-icon {
                .path1, .path4 {
                    fill: $white;
                }
                .path2 {
                    fill: $primary;
                }
                .path3 {
                    stroke: $primary;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1599px) {
    .section-company-growth {
        margin-bottom: 58px;
        &:before {
            height: 60px;
            bottom: -58px;
        }
    }
}

@media (min-width: 1600px) {
    .growth-label--one {
        .growth-label-line {
            height: 110px;
        }
    }
    .growth-label--three {
        .growth-label-line {
            height: 110px;
        }
    }
    .growth-label--five {
        .growth-label-line {
            height: 130px;
        }
    }
    .growth-label--seven {
        .growth-label-line {
            height: 180px;
        }
    }
}


@media (max-width: 1400px) {
    .growth-label--one {
        .growth-label-line {
            height: 60px;
        }
    }
    .growth-label--three {
        .growth-label-line {
            height: 68px;
        }
    }
    .growth-label--five {
        .growth-label-line {
            height: 100px;
        }
    }
    .growth-label--seven {
        .growth-label-line {
            height: 130px;
        }
    }
}
@media (max-width: 1200px) {
    .company-growth-chart {
        margin-top: 1rem;
    }
    .growth-label--one {
        left: 5%;
        .growth-label-line {
            height: 50px;
        }
    }
    .growth-label--two {
        left: 12.5%;
        bottom: 33.4%;
        .growth-label-line {

        }
    }
    .growth-label--three {
        left: 30%;
        bottom: 35%;
        .growth-label-line {
            height: 50px;
        }
    }
    .growth-label--four {
        left: 37.5%;
        bottom: 36.8%;
        .growth-label-line {

        }
    }
    .growth-label--five {
        left: 55%;
        .growth-label-line {
            height: 78px;
        }
    }
    .growth-label--six {
        left: 62.5%;
        bottom: 46.9%;
        .growth-label-line {

        }
    }
    .growth-label--seven {
        left: 80%;
        bottom: 58.8%;
        .growth-label-line {
            height: 110px;
        }
    }
    .growth-label--eight {
        left: 95%;
        bottom: 73%;
        .growth-label-line {

        }
        .growth-label-entry {
            right: -8px;
        }
    }
}
@media (max-width: 1199px) {
    .growth-label--one {
        .growth-label-line {
            height: 40px;
        }
    }
    .growth-label--three {
        .growth-label-line {
            height: 40px;
        }
    }
    .growth-label--five {
        .growth-label-line {
            height: 70px;
        }
    }
    .growth-label--seven {
        .growth-label-line {
            height: 90px;
        }
    }
}
@media (max-width: 991px) {
    .growth-chart-mobile-dot {
        display: block;
    }
    .company-growth-chart {
        margin-top: 1rem;
    }
    .growth-charts-labels {
        padding: 0 24px;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .growth-label-entry {
        max-width: 275px;
    }
    .growth-label-headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 2px;
    }
    .growth-label {
        position: static;
        flex: 0 0 50%;
        width: 50%;
        height: auto;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        .growth-label-content {
            position: relative;
            margin: 0;
            padding-bottom: 30px;
            top: 0;
            bottom: auto;
            width: auto;
        }
        &:nth-child(odd) {
            text-align: right;
            .growth-label-content {
                margin-right: -12px;
                align-items: flex-end;
            }
            .growth-label-headline {
                justify-content: flex-end;
            }
            .growth-label-icon {
                margin-left: 0;
                margin-right: -4px;
            }
            .growth-label-year {
                order: -1;
                margin-right: 9px;
            }
            .growth-label-text {
                padding-right: 35px;
            }
            .growth-label-line {
                align-self: flex-end;
                order: 1;
                position: absolute;
                right: 0;
                top: 37px;
                bottom: 0;
                height: auto;
            }
        }
        &:nth-child(even) {
            text-align: left;
            align-self: flex-end;
            .growth-label-content {
                margin-left: -11px;
                top: 0;
                bottom: auto;
            }
            .growth-label-headline {
                justify-content: flex-start;
            }
            .growth-label-icon {
                margin-left: 0;
                margin-right: -5px;
            }
            .growth-label-year {
                margin-left: 9px;
            }
            .growth-label-text {
                padding-left: 35px;
            }
            .growth-label-line {
                order: 1;
                position: absolute;
                left: 0;
                top: 37px;
                bottom: 0;
                height: auto;
            }
        }
    }
    .growth-label--eight {
        .growth-label-entry {
            position: static;
            right: auto;
        }
        .growth-label-content {
            padding-bottom: 15vw;
        }
    }
    .growth-chart-image {
        margin-top: -30vw;
    }
}

