
html, body {
	height: 100%;
  // @include selection {
  //     color: white;
  //     background: $color-secondary;
  // }
}
body {
	background: $body-bg;
	color: $color-text;
	font-family: $font-medium;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-semibold;
	font-weight: normal;
	color: $color-heading;
}
h1 {
	font-family: $font-bold;
}
h1, h2 {
	color: $color-primary;
}

a {
	color: $primary;
	&:hover, &:focus {
		color: darken($primary, 10%)
	}
}

::-moz-selection {
  background: $primary;
  color: $white;
}
::selection {
  background: $primary;
  color: $white;
}