.section-blog {
    padding-bottom: calc($block-space - 60px);
}
.col-blog {
    margin-bottom: 60px;
}
.card-blog {
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .blog-categries {
        font-size: .875rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    .blog-title {
        a {
            color: $color-heading;
            transition: all .25s linear;
        }
    }
    .blog-image {
        display: block;
        position: relative;
        margin-bottom: 24px;
        &:before {
            content: " ";
            display: block;
            padding-top: 75%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            object-fit: cover;
            border-radius: 4px;
        }
    }
    .blog-link {
        display: inline-block;
        margin-top: 15px;
        font-size: .875rem;
    }
}