.-case-studies {
	.supple-image {
		min-height: 600px;
	}
}
.supple-content-block {
	max-width: 600px;
	margin: auto;
	text-align: center;
	padding: 1rem;

	.supple-brand-icon {
		margin-bottom: 1.25rem;
		img {
			max-width: 130px;
			height: auto;
		}
	}
	.supple-title {
		margin-bottom: 1.25rem;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.btn {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	.supple-content-block {
		padding: 3rem;
	}
}