@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular/Circular-Bold.woff2') format('woff2'),
        url('../fonts/circular/Circular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular/Circular-Medium.woff2') format('woff2'),
        url('../fonts/circular/Circular-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/circular/Circular-Book.woff2') format('woff2'),
        url('../fonts/circular/Circular-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular/Circular-MediumItalic.woff2') format('woff2'),
        url('../fonts/circular/Circular-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/circular/Circular-BookItalic.woff2') format('woff2'),
        url('../fonts/circular/Circular-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

