.section-c-download {
	position: relative;
	min-height: 460px;
	&:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1)
	}
}

.schedualing-customer-item {
	+ .schedualing-customer-item {
		margin-top: 3rem;
	}
}


.section-missions {
	position: relative;
	overflow: hidden;
	&:before {
		content: " ";
		background-color: $bg-gray;
		position: absolute;
		left: 0;
		bottom: -50px;
		width: 120%;
		height: 120px;
		transform: rotate(-3deg);
	}
}
.missions-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.25rem;


	li {
		display: inline-block;
		vertical-align: middle;
		width: 49%;
		margin-bottom: 10px;

		i {
			width: 20px;
			margin-right: 5px;
		}
	}
}

.n-card-lg {
	font-size: 1.125rem;
	.nc-icon {
		width: 60px;
		margin-bottom: 1.5rem;
	}
	h4 {
		margin-bottom: 1rem;
	}
}

.s-parallax {
	background-color: transparent !important;
	min-height: 300px;
}
.stage-item {
	margin-bottom: 2.5rem;
	.stage-item-icon {
		width: 100px;
		height: 100px;
		border: 1px solid $border-color;
		border-radius: 50%;
		position: relative;
		padding: 20px;
		margin-bottom: 1rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.actionable-item {
	&.-ai-top {
		margin-top: 2rem;
	}
	&.-ai-bottom {
		margin-top: -9rem;
	}
}
.actionable-img {
	border: 1px solid $border-color;
	box-shadow: 0px 3px 60px -2px #e1e1e1;
	border-radius: 4px;
	img {
		width: 100%;
		border-radius: 3px;
	}
}

.better-step-item {
	img {
		margin-bottom: 1rem;
	}
}