select option[value=""], 
select.custom-select option[value=""] {
    color: #c0c0c0;
    font-size: 12px;
}

.contact-info {
	font-size: 1.5rem;
	font-weight: 300;
}
.contact-s-title {
	text-transform: uppercase;
	text-align: center;
}


.form-contact {
	.form-group {
		margin-bottom: 45px;
	}
	.form-control {
		padding: 15px 20px;
		line-height: 1.5;
		border-radius: 0;
		box-shadow: none !important;
	}
	.custom-select {
		padding: 8px 28px 8px 20px;
		height: 56px;
		border-radius: 0;
		box-shadow: none !important;
	}
	.c-form-control {
		padding-left: 0;
		padding-right: 0;
		transition: all .3s linear;
		border: 0;
		border: 1px solid $white;
		border-top-color: $border-color;

		&:focus {
			border-color: $border-color;
			padding-left: 20px;
			padding-right: 20px;
			box-shadow: none !important;
		}
	}

	.s-button {
		font-size: 15px;
	    text-transform: uppercase;
	    padding: 16px 20px;
	    letter-spacing: .063rem;
	}

}

.hero-page-contact {
	min-height: 100px;
}