.itemflex-customer {
    background-color: $white;
    box-shadow: 0 0 20px rgba($color: $black, $alpha: .1);
    margin-bottom: 60px;
    .customer-image {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
    .customer-content {
        width: 100%;
        padding: 100px 30px;
        text-align: center;
        min-height: 420px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .customer-content-block {
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .customer-brand {
        margin-bottom: 3rem;
        img {
            max-height: 50px;
        }
    }
}

.customer-item {
    .customer-icon {
        margin-bottom: 20px;
        img {
            max-width: 160px;
            height: auto;
        }
    }
}
.customer-section-title {
    margin-bottom: 1rem;
}

.customer-empowering-lists {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
        + li {
            margin-top: 30px;
        }
    }
    .em-image {        
        img {
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
            height: auto;
        }
    }
}

.customer-empowering {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    .em-image {
        padding-right: 20px;
        img {
            max-width: 70px;
            height: auto;
        }
    }
}