.hero-alternating-image {
	img {
		display: block;
		width: 100%;
	}

	@media (min-width: 1100px) {
		margin-right: -60px;
	}
	@media (min-width: 1200px) {
		margin-right: -60px;
	}
	@media (min-width: 1300px) {
		margin-right: -85px;
	}
	@media (min-width: 1600px) {
		margin-right: -150px;
	}
}

.engage-build-image {
	border: 1px solid $border-color;
	border-radius: 4px;
}
.templates-alternating-image {
	
	@media (min-width: 1200px) {
		margin-right: -60px;
	}
	@media (min-width: 1600px) {
		margin-right: -270px;
	}
}