.faq-item {
    background-image: url('../images/faq.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50px auto;
    padding-left: 80px;
    padding-top: 10px;
    + .faq-item {
        margin-top: 40px;
    }

    .question {
        h4 {
            margin-top: 0;
        }
    }
    .answer {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}