/* FOOTER
*************************************************** */
.footer {
	position: relative;
	background-color: $white;
	padding: $block-space 0 1.5rem;
}
.copyright {
	font-size: $font-size-sm;
}
.footer-col {
	//color: $white;
}
.footer-col-title {
	//color: $white;
}
.footer-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: $font-size-sm;

	a {
		display: block;
		padding: .125rem 0;
		color: $color-text;
		transition: all .3s linear;
		&:hover, &:focus {
			color: $color-primary;
			text-decoration: none;
		}

	}
}
.footer-nav {
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: $font-size-sm;
	.list-inline-item {
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
	.copyright {
		color: rgba($color-darkblue, .65);
	}
	a {
		display: block;
		color: $color-text;
	}
}
.socials {
	margin-bottom: 0;
	margin-top: 40px;
	.list-inline-item {
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
	a {
		padding-top: .25rem;
		padding-bottom: .25rem;
		display: block;
		font-size: 1.25rem;
		color: rgba($white, .5);
	}
}

.footer-hr {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.row-footer {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
}
.col-footer {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	min-height: 1px;
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.stayin-touch {
	max-width: 450px;
	padding-top: 50px;
}
.footer-item {
	margin-bottom: 2rem;
}
.footer-title {
	margin-bottom: 1rem;
}
.footer-dark {
	.footer-list {
		a {
			color: rgba($white, .5);
		}
	}
	.footer-hr {
		border-top-color: rgba($white, .15);
		margin-top: 60px;
	}
	.connect-number {
		color: rgba($white, .5);
	}
	.btn-footer-subscribe {
		background-color: $color-darkblue;
		color: $white;
	}
	.footer-nav {
		a {
			color: rgba($white, .5);
		}
	}
}
.stayin-title {
	margin-bottom: 0;
}
.stayin-header {
	small {
		opacity: .5;
	}
}
.stayin-formgroup {
	margin-top: 45px;
	.form-control {
		background-color: rgba($white, 0);
		border-radius: 0;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-color: rgba($white, .25);
		padding-left: 0;
		color: $white;
		@include placeholder {
			color: rgba($white, .5);
		}
	}
	.btn {
		margin-left: 15px;
		border-radius: 4px !important;
	}
}

.footer-socials {
	margin-bottom: 0;
	.list-inline-item {
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
	a {
		display: inline-block;
		color: $color-text;
	}
}
.foo-get_request {
	.foo-get_request_heading {
		color: $color-heading;
		margin-bottom: 1.25rem;
	}
}

.footer-demo {
	padding-bottom: 5rem;
}
.footer-light {
	.stayin-formgroup {
		.form-control {
			border-bottom-color: rgba($color-darkblue, .15);
		}
	}
	.socials {
		a {
			color: rgba($color-darkblue, .65);
		}
	}
	.connect-number {
		color: rgba($color-darkblue, .65);
	}
	.btn-footer-subscribe {
		background-color: rgba($color-darkblue, .15);
		color: $color-text;
	}
	.footer-hr {
		border-top-color: rgba($color-darkblue, .15);
	}
}
