.form-control {
	&:focus {
		border-color: $color-primary;
		box-shadow: none !important;
		// box-shadow: $input-focus-box-shadow;
	}
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: $color-primary;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: $color-primary;
}