.c__help {
    display: block;
    background-color: $white;
    box-shadow: 0 0 20px rgba($color: $black, $alpha: .15);

    + .c__help {
        margin-top: 30px;
    }
    
    a {
        display: block;
        color: $color-text;
        &:hover {
            text-decoration: none;
        }
    }
    .help-icon {
        text-align: center;
        img {
            max-width: 70px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .c__help_link {
        padding: 24px;
    }

    .help-avatar {
        display: flex;
        font-size: 12px;
        margin-top: 8px;
    }
    .avatar__photo {
        margin-right: 10px;
    }
    .avatar__image {
        width: 32px;
        height: 32px;
        vertical-align: bottom;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0 2px white;
        box-shadow: 0 0 0 2px white;
        position: relative;
        z-index: 4;
        &:nth-child(n+2) {
            margin-left: -8px;
        }
        &:nth-child(2) {
            z-index: 3;
            opacity: .8;
        }
        &:nth-child(3) {
            z-index: 2;
            opacity: .6;
        }
        &:nth-child(3) {
            z-index: 1;
            opacity: .4;
        }
    }
    .avatar__fallback {
        display: inline-block;
        text-align: center;
        line-height: 32px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: $color-primary;
    }
    .c__darker {
        color: $color-heading;
    }
    &:hover {
        .help-name { 
            color: $color-primary;
        }
    }
}