

.hero-demure {
	background-color: $bg-gray-cream;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	.hero-demure-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background-repeat: no-repeat;
		background-position: center;
		opacity: .75;
	}
	.hero-heading {
		color: $color-darkblue;
		margin-bottom: 1rem;
		span {
			color: $primary;
		}
	}
	.hero-actions {
		padding-top: 1.25rem;
	}
	.hero-subtext {
		font-size: 1.25rem;
		p {
			margin-bottom: 0;
		}
	}
	.hero-mask {
		width: 110%;
		display: block;
		position: absolute;
		left: 50%;
		bottom: -1px;
		transform: translateX(-50%)
	}
}
.btn-hero {
	font-size: 15px;
	padding: .25rem .75rem;
	border-radius: 2px;
}

.hero-home {
	transition: all .3s linear;
	.hero-heading {
		color: $color-darkblue;
		margin-bottom: 1rem;
		span {
			color: $primary;
		}

		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				display: inline;
			}
		}
	}
	.hero-actions {
		padding-top: 1.25rem;
	}
	.hero-subtext {
		p {
			margin-bottom: 0;
		}
	}
	.video-container {
		margin-top: 2.5rem;
	}
	.home-image-extend {
		width: 290px;
		position: absolute;
		right: 90%;
		bottom: 0;
	}
}

.hero-home-screens {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 240px;
}
.hero-home-screen-sliders {
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
}

.home-screen-nav {
	color: $color-primary;
}

.video-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	max-width: 300px;
}
.video-box {
    position: relative;
    width: 100%;
    max-width: 100%;
    .phone-video {
        bottom: 0;
        left: 0;
        padding: 23.5% 6%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        .phone-video-in {
            border: 1px solid #666;
        }

        video {
            display: block;
            height: auto;
            max-width: 100%;
            width: 100%;
        }
    }
}

.hero-home-unique {
	padding-top: 3rem;
	padding-bottom: 2.5rem;
	.hero-home-screens {
		max-width: 100%;
	}
	.home-screen-slider {
		.slick-track{
		    display: flex;
		     align-items: stretch; 
		     justify-content: center;
		    .slick-slide{
		        height: auto;       
		    }
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	.home-screen-slide-image {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}
