.container-max-1015 {
	@media (min-width: 1200px) {
		max-width: 1015px;
	}
}


.featured-slider-nav {
	text-align: center;
	margin-bottom: 2rem;
	.slick-slide {
		&.snav-item {
			cursor: pointer;
			font-weight: 500;
			display: inline-block;
			float: none;
			width: auto !important;
			padding: 10px 20px;
			opacity: 0.6;
			border: none;
			box-shadow: none;
			outline: none;

			&:active, &:focus {
				outline: none;
			}

			&.slick-current {
				color: $primary;
				opacity: 1;
			}
		}
	}
}

.featured-slider-for {
	max-width: 1015px;
	margin: 0 auto;

	.slide-item {
		outline: none;
		border: none;
		box-shadow: none;
	}

	.slick-prev, .slick-next {
		width: 50px;
		height: 50px;
		border: 1px solid #cdcdcd;
		border-radius: 50%;
		&:before {
			font-size: 24px;
			font-family: "Ionicons";
			color: #cdcdcd;
		}
		&:hover, &:focus {
			border-color: $primary;
			&:before {
				color: $primary;
			}
		}
	}
	.slick-prev {
		left: 10px;
		z-index: 5;
		&:before {
			content: "\f3d2";
		}
	}
	.slick-next {
		right: 10px;
		&:before {
			content: "\f3d3";
		}
	}
}


.featured-bar {
	margin-left: 0;
	margin-right: 0;
	.fn-note {
		padding-top: 2rem;
	}

	.featured-col {
		width: 50%;
		padding: 0 15px;
		&.featured-col-image {
			width: 45%;
		}
		&.featured-col-note {
			width: 55%;
		}
		.featured-image {
		}

		.featured-note {
			.fn-title {
				font-size: 28px;
				margin: 0 0 30px;
			}
		}
	}

}

.tab-content-featured {
	position: relative;
	.btn {
		position: absolute;
		font-size: 24px;
		color: #cdcdcd;
		background-color: transparent;
		border: 1px solid #cdcdcd;
		width: 60px;
		height: 60px;
		line-height: 60px;
		padding: 0 5px;
		text-align: center;
		border-radius: 50%;
		top: 50%;
		-webkit-transform: -webkit-translateY(-50%);
		-moz-transform: -moz-translateY(-50%);
		transform: translateY(-50%);

		&:hover, &:focus {
			border-color: $primary;
			color: $primary;
			outline: none;
		}

		&.btn-prev {
			left: 0;
		}
		&.btn-next {
			right: 0;
		}
	}
}

.net-card {
	text-align: center;
	h5 {
		font-size: 1.25rem;
		margin-bottom: .75rem;
	}
	.nc-icon {
		width: 50px;
		margin-bottom: 1rem;
		margin-left: auto;
    	margin-right: auto;
		img {
			max-width: 100%;
		}
	}
	.nc-denote {
		max-width: 260px;
		margin-left: auto;
    	margin-right: auto;
	}
	.nc-text {
		opacity: 0.65;
	}

	.nc_icon-lg {
		position: relative;
		width: 100%;
		max-width: 60px;
		&:before {
			content: " ";
			display: block;
			padding-top: 100%;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			object-fit: contain;
		}
	}
}

.get-col h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2rem;
}


.featured-roof {
	margin-top: $block-space;
	.roof-title {
		margin-bottom: 1.5rem;
	}
	.roof-text {
		p {
			margin-bottom: 0;
		}
	}
}

.section-supple {
	padding-top: 0;
	padding-bottom: 0;
}
.supple-image {
	min-height: 570px;
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}
.-case-studies {
	border-bottom: 1px solid #f1f1f1;
	.supple-image {
		min-height: 600px;
	}
}
.supple-content-block {
	max-width: 600px;
	margin: auto;
	text-align: center;
	padding: 1rem;

	.supple-brand-icon {
		margin-bottom: 1.25rem;
		img {
			max-width: 130px;
			height: auto;
		}
	}
	.supple-title {
		font-size: 2.25rem;
		line-height: 1;
		font-weight: bold;
		margin-bottom: 2rem;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.btn {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	.supple-content-block {
		padding: 3rem;
	}
}

.card-chain {
	margin-top: 2rem;
	text-align: center;

	.chain-title {
		font-size: 1.25rem;
	}	
	.chain-image {
		margin-bottom: 1rem;
		img {
			max-width: 90px;
		}
	}
}


.mission-item {
	// margin-top: 8rem;
	margin-top: 2rem;
	max-width: 350px;
	.mi-counter {
		font-size: 2.25rem;
		font-weight: bold;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: .5rem;
		margin-bottom: .25rem;
	}
}

.news-row {
	margin-top: 4rem;
}
.news-item {
	text-align: center;
	margin-bottom: 2rem;
	.news-image {
		max-width: 190px;
		min-height: 35px;
		margin: 0 auto 1rem;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.news-brands {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	
	display: flex;
	flex-flow: row wrap;
	text-align: center;
    align-items: center;
    justify-content: center;

	li {
		padding: 1rem 15px;
		max-width: 33.33333%
	}

	.n-brand-image {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 180px;
	}

	img {
		max-width: 100%;
	}
}

.link-section-underline {
    color: inherit;
    text-decoration: underline;
    margin-top: 5rem;
    display: inline-block;
}
.section-customer-success {
	// background-color: lighten($color-darkblue, 78%);
	// background-image: url('../images/illustration-form.svg');
	// background-repeat: no-repeat;
	// background-position: bottom right;
	position: relative;
	// &:before {
	// 	content: " ";
	// 	display: block;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	left: 0;
	// 	top: 0;
	// 	background-color: rgba(0, 0, 0, 0.5);
	// }
}
.section-news {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	// &:before {
	// 	content: " ";
	// 	display: block;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	left: 0;
	// 	top: 0;
	// 	background-color: rgba(0, 0, 0, 0.5);
	// }
}

#goChat {
	box-shadow: 0 -15px 40px rgba(0, 0, 0, .085)
}

.btn-foo-request {
	// box-shadow: 0 0 0 5px rgba(255, 255, 255, .1) !important
}

.section-get-started {
	padding: 8rem 0;
}

.get-started-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
	.get-started-bg-image {
		height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 50%;
	    z-index: -1;
	    -o-object-fit: cover;
	    object-fit: cover;
	    font-family: 'object-fit: cover;';
	    min-width: 1000px;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
}
.section-integrations {
	overflow: hidden;
	position: relative;
}
.integrations-content {
	position: relative;
	z-index: 5;
}
.gradient-fade {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 390px;
	background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff);
	background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
	opacity: .5;
}
.logo-bar-vertical {
	margin-top: -$section-gutter;
	margin-bottom: -$section-gutter;
	padding-left: 78px;
}

.sticky-wrapper, .s-manager_stuck {
	transition: all .25s linear;
}

.s-has_hero_curved {
	padding-top: 4rem;
}
