.hero-image-extend {
	margin-right: -120px;
}

.r-container {
	position: relative;
}
.bg-pattern {
	z-index: -1;
    width: 420px;
    position: absolute;
    opacity: .12;
	&.-dot {
		background-image: url(../images/patterns-dots.svg);
		background-repeat: repeat;
		background-position: 0 3px;
	}
	&.-striped {
		background-image: url(../images/patterns-stripes.svg);
		background-repeat: repeat;
		background-position: 100% 0;
	}
	&.--right {
		left: 100%;
	}
	&.--left {
		right: 100%;
	}
}
.box {
	padding: 60px 30px;
	&.---large {
		padding-left: 60px;
		padding-right: 60px;
		max-width: 62.7%;
	}
	&.-shadow {
		box-shadow: 0 28px 45px rgba($black,.2);
	}
	&.--light {
		background-color: $white;
	}
	&.--primary {
		background-color: $primary
	}
}
.header-block {
	width: 74.25%;	
	padding-bottom: 77px;

	.section-heading {
		margin-bottom: 1rem;
	}
	.h-text {
		font-size: ($font-size-base * 1.25);
	}

	&.-left--align {
		padding-right: 30px;
	}
	&.-right--align {
		margin-left: 25.75%;
		padding-left: 100px;
	}
}
.m-media {
	position: relative;
}
.m-media-extend-right {
	margin-right: -120px;
}
.media-with-box {
	position: relative;
	.box {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	&.-top-left {
		.box {
			transform: translateY(-50%);
		}
	}
}
.brick {
	padding-top: 5.625rem;
	padding-bottom: 5.625rem;
}
.brick-request-button {
	padding-top: 0;
	padding-bottom: 200px;
}


.simple-item {
	position: relative;
	.simple-image {
		margin-top: 24px;
		margin-bottom: 24px;
		img {
			max-width: 160px;
			height: auto;
		}
	}
}

.box-service {

}
.box-service--image {
	background-color: $white;
	margin: 0 auto 10%;
    max-width: 80%;
	img {
		
	}
}

.video-item {
	position: relative;
	background-color: $color-darkblue;
	box-shadow: 0 28px 45px rgba(0,0,0,.2);
	.video-heading {
		padding: 30px;
	}
	.video-title {
		margin-bottom: 0;
		color: $white;
	}
	.video-preview {
		position: relative;
		&:before {
			content: " ";
			display: block;
			padding-top: 62.5%;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.video-play {
		background-color: $white;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 1rem 2rem;
		font-size: ($font-size-base * .875);
		border-radius: 0;
		text-transform: uppercase;
		i {
			margin-right: 12px;
		}
	}
}

.customers-brand {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	li {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.customer-brand {
		position: relative;
		width: 200px;
		height: 200px;
		background-color: $white;
		box-shadow: 0 28px 45px rgba($black, .2);

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			max-width: 100%;
			transform: translate(-50%, -50%);
		}
	}
}

.monial-item {
	background-color: $primary;
	.monial-image {
		height: 100%;
		img {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.monial-content {
		padding: 5rem;
		min-height: 460px;
	}
	.monial-title, .monial-byline {
		color: $white;
	}
	.byline-brand {
		margin: 60px 0 45px 0;
    	max-width: 112px;
		img {
			max-width: 100%;
		}
	}
}

.card-resource {
	background-color: $white;
	box-shadow: 0px 28px 45px rgba(0,0,0,0.2);
	
	.resource-title {
		margin-bottom: 1rem;
	}
	.resource-denote {
		padding: 2.25rem 2.25rem 5rem;
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.resource-image {
		position: relative;
		&:before {
			content: " ";
			display: block;
			padding-top: 100%;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}