.section-landmark {
	.landmark-label {
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	.landmark-heading {
		margin-bottom: 1rem;
	}

	ul {
		li {
			+ li {
				margin-top: 1rem;
			}
		}
	}
}

.benefit-item {
	margin-top: 2rem;
	.bi-icon {
		margin-bottom: 1rem;
	}
	.bi-title {
		font-size: 1rem;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
}