.flexbar {
	.flexbar-label {
		font-size: 1rem;
		margin-top: 0;
	}
	.flexbar-title {
		font-size: 2rem;
		font-weight: bold;
		margin: .5rem 0 1.75rem;   
	}
	p:last-child {
		margin-bottom: 0;
	}
	+ .flexbar {
		margin-top: 6rem;
	}

	@media (max-width: 767px) {
		.flexbar-image {
			margin-bottom: 2rem;
		}
	}
}