.manufac-neg-flex {
    position: relative;
}
.manufac-nag-image {
    filter: drop-shadow(0 0 15px rgba(99, 109, 131, .25));
    img {
        max-width: 100%;
        height: auto;
    }
}

.manufac-flexbar {
    .flexbar-image-bg {
        position: relative;
        &:before {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            width: 600px;
            height: 600px;
            background-color: $primary;
            position: absolute;
            left: -10%;
            bottom: -20%;
            border-radius: 50%;
        }
        img {
            position: relative;
        }
    }
    .flexbar-title {
        margin-bottom: .75rem;
    }
    ul {
        @include list-unstyled;
    }
    .flexbar-note-item {
        + .flexbar-note-item {
            margin-top: 2rem;
        }
    }
}

.manufac-flexbar-group {
    .manufac-flexbar {
        + .manufac-flexbar {
            margin-top: 4rem;
        }
    }
}