.meta-page-hero-heading {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}
.meta-text-widget {
	h2 {
		font-size: 2.5rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
	}
	p {
		br {
			margin-bottom: .5rem;
			display: block;
		}
	}
}
.list-default {
    margin-bottom: 1rem;
}
.list-default li + li {
    margin-top: 1rem;
}
.list-styled-bulets-circle {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
.list-styled-bulets-circle li {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}
.list-styled-bulets-circle li:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    background-color: #50535b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.product-featured-card {
	
	margin-bottom: 2rem;
	img {
		max-width: 50px;
		height: auto;
		margin-bottom: 1rem;	
	}
	@media (min-width: 768px) {
		display: flex;
		align-items: flex-start;

		img {
			max-width: 60px;
			margin-right: 1.5rem;
		}
	}
}