.navbar {
	background-color: transparent;
	border-bottom: none;
	transition: all .3s ease-in;
	
}
.n-shadow {
	box-shadow: 0px 3px 14px -2px #f5f5f5;
	transition: all .3s ease-in;
}
.bg-light { background-color: $white !important }
.navbar-light {
	.navbar-nav {
		.nav-link {
			color: $color-text;
			&:hover, &:focus, &.active {
				color: $color-primary;
			}
		}
	}
}
.navbar-dark {
	.navbar-nav {
		> li {
			> a {
				color: rgba(255, 255, 255, .9);
				&:hover, &:focus {
					color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}
.navbar-shadow {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: transparent;
}
.navbar {
	padding: 0.5rem 1rem;
	.navbar-brand { 
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		align-items: center;
		img {
			width: auto;
			max-height: 34px;
			display: block;
			transition: all .3s ease-in;
		}
		.logo-text {
			text-transform: uppercase;
			line-height: 1;
			font-size: 115%;
			color: $primary;
		}
	}
	.navbar-nav {
		align-items: center;
	}
	.nav-link {		
		font-size: 15px;
	}
	.dropdown-toggle {
		&:after {
			display: none;
		}
	}
	.nav-demo-close {
		border-radius: 50%;
		background-color: $color-primary;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white !important;
		font-size: 1.5rem;
		line-height: 1;
		box-shadow: 0 12px 27px 0 rgba(0,0,0,.09);
		transition: all .3s linear;
		img {
			width: 28px;
			height: 28px;
		}
		&:hover, &:focus {
			background-color: darken($color-primary, 10%);
		}
	}
	.nav-btn-demo {
		border: 1px solid $color-darkblue;
		border-radius: 2px;
		padding: .25rem .75rem !important;
		text-align: center;
	}
	.nav-actions {
		> li {
			margin-right: 0;
		}

		.nav-link {
			
		}
	}

	.dropdown-menu {
		min-width: 180px;
		background-color: $white;
		border: none;
		border-radius: 0;
		/* box-shadow: 0 12px 16px rgba($black, .175); */
		box-shadow: 0 4px 32px 0 rgba(51,62,99,0.14);
		.dropdown-item {
			&:hover {
				background-color: $primary;
				color: $white;
			}
		}

	}
	.dropdown-menu > li > a {
		white-space: normal;
	}

	.dropdown-item {
		transition: all .3s ease-in;
		&:active, &.active {
			background-color: $primary;
			color: $white;
		}
	}
	.dropdown-hover {
		.dropdown-menu {
			top: 32px;
			animation-duration: .75s;
			animation-fill-mode: both;
			animation-name: fadeInUp;
		}
		.dropdown-toggle { 
			position: relative;
			transition: all .25s ease-in;
			&:before {
				content: " ";
				display: block;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: 3px;
				height: 3px;
				z-index: 1020;
				transition: all .25s linear;
			}
		}
		&.show {
			/* .dropdown-toggle {
				transition-delay: .75s;
				background-color: $white;
				color: $primary;
				box-shadow: 0 2px 16px rgba($black, .175);
				&:before {
					background-color: $white;
					transition-delay: .75s;	
				}
			} */
		}
	}
}


.nav-actions {
	.nav-link {
		font-size: 15px;
	}
	.nav-link-signin {
		// text-decoration: underline;
		// text-decoration-color: $primary;
	}
}
.navbar-light {
	.navbar-nav {
		.nav-btn-demo {
			border-color: $color-darkblue;
			&:hover, &:focus {
				background-color: $color-darkblue;
				color: #fff;
			}
		}
	}
	.dropdown-item {
		color: $color-text;
	}
}
.nav-link-content {
	display: flex;
	align-items: flex-start;
	padding: .5px 0;
	.nav-link-icon {
		margin-right: 15px;
		img {
			max-width: 45px;
			height: auto;
		}
	}
	h6 {
		font-size: 1rem;
		font-weight: 600;
		margin: 0 0 .5rem;
	}
	p {
		font-size: 1rem;
		margin-bottom: 0;
	}
}
.no-description {
	.nav-link-content {
		padding-top: .25rem;
		padding-bottom: .25rem;
		h6 {
			margin-bottom: 0;
		}
	}
}



.navbar-clone {
	.nav-link-btn {
		padding-top: .25rem;
		padding-bottom: .25rem;
		margin-left: 1rem;
	}
	.btn-outline-primary {
		&:hover, &:focus {
			color: $white !important;
		}
	}
	.dropdown-item {
		display: flex;
		align-items: center;
		line-height: 1.2;
		border: 1px solid $border-color;
    	border-width: 0 1px 1px 0;
		.an-image {
			display: inline-block;
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin-right: 16px;
		}
		strong {
			display: block;
		}
	}
}
.navbar-megamenu {
	.container {
		position: relative;
	}
}
.dropdown-mega {
	position: static;
	.dropdown-menu {
		left: 15px;
		right: 15px;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.has-nav_center {
	.navbar-brand {
		width: 208px;
	}
}

.navbar-dropdown-center {
	.navbar-brand {
		margin-right: 80px;
	}
	.dropdown-toggle {
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
	.dropdown {
		.dropdown-menu {
			padding: .75rem 0;
			margin-top: 0;
			border-radius: 4px;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			&:before {
				content: " ";
				display: block;
				border: 8px solid transparent;
				border-bottom-color: $white;
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
			.dropdown-item {
				padding-left: 1.25rem;
				padding-right: 1.25rem;
			}

			> li {
				/* &:first-child {
					.dropdown-item {
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
					}
				}
				&:last-child {
					.dropdown-item {
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
					}
				} */
			}
		}	
	}
	.dropdown-hover {
		&.show {
			.dropdown-toggle {
				color: $primary;
			}
		}
	}
}

.dropdown-has-description {
	min-width: 380px;
	.dropdown-item {
		padding-top: .5rem;
		padding-bottom: .5rem;
		transition: all .3s linear;
		&:hover, &:focus {
			background-color: transparent !important;
			color: $color-heading !important;
			opacity: .75;
		}
	}
}
.dropdown-has-no-description {
	min-width: 320px;
	.dropdown-item {
		padding: .25rem 1rem;
		padding-top: .25rem;
		padding-bottom: .25rem;
		transition: all .3s linear;
		&:hover, &:focus {
			background-color: transparent !important;
			color: $color-heading !important;
			opacity: .75;
		}
	}
	.dropdown-menu-item-block {
		align-items: center;
	}
}
.dropdown-menu-item-block {
	display: flex;
	width: 100%;
	.dropdown-menu-item-media-icon {
		position: relative;
		width: 40px;
		height: 40px;
		margin-right: 1rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: opacity .3s linear;
		}
	}
	.nav-title {
		margin-bottom: .125rem;
	}
	.nav-description {
		font-size: .875rem;
		opacity: 0.7;
	}
}

.mobile-menu-footer {
	background-color: $bg-gray-cream;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -0.5rem;
	.mobile-menu-footer-in {
		padding: 15px;
	}
}


#navbarMobile {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
	z-index: 9999;
	padding-left: 0;
	padding-right: 0;
	background-color: $white;
	.navbar-toggler {
		border: 0;
		padding: 0;
		&:focus {
			outline: 0;
		}
	}
}
#mobileMenu {
	@include list-unstyled;
	a {
		color: $color-text;
	}
}
.mobile-metas {
	display: inline-flex;
	align-items: center;
	.mo-login {
		font-size: 1.25rem;
		color: $color-text;
		line-height: 1;
		margin-right: 8px;
		transition: all .25s linear;
		&:hover, &:focus {
			color: $color-primary;
		}
	}
	.mo-rdemo {
		font-size: 14px;
		padding: .25rem .5rem
	}
}


@media (min-width: 992px) {
	#navbarMobile {
		display: none !important;
	}
	.body-padding-top {
		padding-top: 66px;
	}
}
@media (max-width: 991px) {
	#navbarDesktop {
		display: none !important;
	}
	.body-padding-top {
		padding-top: 48px;
	}
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    //transform: translateY(-50%, 75%, 0);
  }

  to {
    opacity: 1;
    //transform: translate3d(-50%, 0, 0);
  }
}

