.management-item {
    background-color: $white;
    border: 1px solid $border-color;
    padding: 2.5rem 1.5rem;
    min-height: 100%;
    .management-icon {
        width: 100%;
        max-width: 70px;
        position: relative;
        margin: 0 auto 2rem;
        &:before {
            content: " ";
            display: block;
            padding-top: 100%;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .m_icon-lg {
        max-width: 90px;
    }
    .management-title {
        margin-bottom: .5rem;
    }
    .management-text {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
        p {
            margin-bottom: 0;
        }
    }
}

.flow-header {
    .heading-label {
        font-size: .875rem;
    }
    .flow-heading {
        margin-bottom: 1.25rem;
    }
}

.flow-item {
    + .flow-item {
        margin-top: 6rem;
    }   
    &.-has-step-number {
        .flow-content {
            padding-right: 20px;
        }
        .flow-big-number {
            font-size: 4.5rem;
            font-weight: 900;
            color: #f1f1f1;
            margin-bottom: .5rem;
        }
    }
}
.flow-lists {
    @include list-unstyled;
    margin-bottom: 0;
    li {
        + li {
            margin-top: 1rem;
        }
    }
    p {
        margin-bottom: 0;
    }
}

.shot-border-shadow {
    border: 1px solid $border-color;
    box-shadow: 0 0 40px rgba($color: #000000, $alpha: .15)
}
.shot-mobile-border-shadow {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 40px rgba($color: $black, $alpha: .15));
}


.card__clusive {
    position: relative;
    background-color: $white;
    min-height: 100%;
    padding: 40px 30px;
    margin-top: 0;
    box-shadow: 0 0 20px rgba($color: $color-darkblue, $alpha: .1);
    transition: all .2s ease;
    &:before {
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: all .2s ease;
    }
    .nc-title {
        max-width: 140px;
        margin: 0 auto .75rem;
    }
    .nc-text {
        p {
            margin-bottom: 0;
        }
    }
    &:hover {
        box-shadow: 0 10px 30px 4px rgba($color: $color-darkblue, $alpha: .2);
        &:before {
            width: 100%;
            opacity: 1;
        }
    }
}

.card__blank {
    .nc-icon, .nc-denote {
        margin-left: 0;
        margin-right: 0;       
    }
    .nc-denote {
        max-width: 100%;
    }
}

.manufac__flexbar {
    .manufac__flexbar-title {
        margin-bottom: .75rem;
    }
    .manufac__flexbar-text {
        p {
            margin-bottom: 0;
        }
    }
}
.manufac__flexbar-image-left {
    .manufac-nag__image-column {
        direction: rtl; 
    }
}

.s__double_highlights {
    position: relative; 
}
.double_highlights-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;   
    .col-double_highlights-bg {
        width: 100%;
        flex: 0 0 50%;
        max-width: 50%;
        background-color: $bg-gray;
        &:first-child {
            background-color: $color-darkblue;
        }
    }    
}
.col-double_highlight {
    padding-top: $section-gutter;
    padding-bottom: $section-gutter;
    &:nth-child(2n+1) {
        padding-right: 30px;
    }
    &:nth-child(2n+2) {
        padding-left: 30px;
    }

    .double_highlight-title {
        margin-bottom: 1.5rem;
    }
    .double_highlight-text {
        margin-bottom: 1.25rem;
        p {
            margin-bottom: 0;
        }
    }
    .double_highlight-lists {
        margin-bottom: 0;
        li {
            + li {
                margin-top: .75rem;
            }
        }
    }
}

.section-split-bg {
    position: relative;
    &:before {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        background-color: lighten($primary, 31%);
        position: absolute;
        top: 0;
    }
    &.split-bg-w_80 {
        &:before {
            max-width: 65%;
        }
    }
    &.split-bg-w_55 {
        &:before {
            max-width: 55%;
        }
    }
}

#customer_story {
    &:before {
        left: 0;
    }
}
#section_globe {
    &:before {
        right: 0;
    }
}

.achieved-item {
    display: flex;
    margin-bottom: 1rem;
    .achieved-icon {
        margin-right: 1rem;
        font-size: 2rem;
        line-height: 1;
        color: $primary;
    }
    p {
        margin-bottom: 0;
    }
}

.organisation-item {
    display: flex;

    .organisation-icon {
        position: relative;
        width: 45px;
        margin-right: 1rem;
        &:before {
            content: " ";
            display: block;
            padding-top: 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            object-fit: contain;
        }
    }
    .text-link {
        display: inline-block;
        margin-top: .75rem;
    }
}

.industry__logos-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: -40px auto;
    max-width: 520px;
    .industry__logo {
        align-items: center;
        display: flex;
        flex: 0 0 50%;
        margin: 40px 0;
        img {
            display: block;
            margin: 0 auto;
            max-height: 55px;
            max-width: 130px;
            width: auto;
        }
    }
}
.perspective-image {
    img {
        width: 100%;
        height: auto;
        border-radius: .375rem;
    }
}