
.hero-buttons {
	padding-top: .25rem;
	.btn {
		margin-top: .25rem;
	}
}
.page-hero {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: $white;
	min-height: 550px;
	&:before {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		@include background-opacity(#000, .5);
	}

	.hero-heading {
		font-size: 3rem;
		font-weight: 900;
		margin-bottom: 1.5rem;
	}
	.hero-lead {
		font-size: 1.25rem;
	}
	.hero-btns {
		margin-top: 1.5rem;
		.btn {
			margin-top: .25rem;
			margin-left: .25rem;
			margin-right: .25rem;
			padding: .5rem 1rem;
			text-transform: uppercase;
			min-width: 190px;
		}
	}

	@media (min-width: 1200px) {
		min-height: 80%;
	}
}

.hero-classic {
	min-height: 300px;
	padding-top: 8.125rem;
	.hero-heading {
		font-size: 2.5rem;
		font-weight: 900;
		margin-bottom: 1.5rem;
	}
	.para-lead {
		font-size: 1.125rem;
	}
}

.hero-pages-default {
	background-color: transparent;
	min-height: 50vh;
	.hero-heading {
		margin-bottom: 1.5rem;
	}
	.hero-text {
		font-size: 1.25rem;
	}
}

.gradient-fade-solutions {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 200px;
	background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), $bg-gray-cream);
	opacity: .5;
	z-index: -1;
}

.hero-pages-secondary {
	background-color: transparent;
	min-height: 100vh;
	position: relative;
	&:before {
		content: " ";
		display: block;
		width: 33.3333%;
		height: 70%;
		background-color: lighten($primary, 31%);
		position: absolute;
		right: 0;
		top: 0;
	}
	.hero-heading {
		margin-bottom: 1.5rem;
	}
	.hero-text {
		font-size: 1.25rem;
	}
}



.hero-page-form {
	margin-top: 1.5rem;
	.form-control {
		min-width: 260px;
		border-color: $color-primary;
	}
}