.pageloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;

	.loader-logo {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		img {
			max-width: 100%;
		}
	}
}
.loader-logo {
}

.preloader {
	background-color: rgba(255, 255, 255, 0.9)
}