.dropdown-sort-pricing {
	.btn {
		min-width: 160px;
		font-size: 1.25rem;
	}
	.btn-outline-light {
		color: $color-text;
		border-color: $border-color;
		background-color: $white;
		&:hover, &:focus {
			border-color: $border-color;
		}
	}
}


.pricing-card {
	margin-top: 3rem;
	background-color: $white;
	border-radius: 4px;
	padding: 2rem;
	text-align: center;
	box-shadow: 0 5px 40px 2px rgba(43,43,43,.15);

	h6 {
		text-transform: uppercase;
		letter-spacing: 0.125rem;
	}
}
.pricing-price {
	margin-top: 1rem;
	margin-bottom: 0;
	font-size: 2.5rem;
	font-weight: bold;
	color: $primary;
}
.pricing-text {
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
}
.pricing-extend {
	
}
.pricing-featured {
	list-style: none;
	margin: 1.5rem 0 0;
	padding: 0;

	li {
		+ li {
			margin-top: .5rem;
		}
	}
}



// New 
.hero-pricing {
	box-shadow: 0 10px 14px rgba(0,0,0,.1);
}
.pricing-calculat_box {
	border: 1px solid $border-color;
	padding: 40px;
	margin-bottom: 20px;
	.row-calculat_box {
		margin-left: -30px;
		margin-right: -30px;
		> [class*="col-"] {
			padding-left: 30px;
			padding-right: 30px;
			&:first-child {
				border-right: 1px solid $border-color;
			}
		}
	}
}
.calculat_box-item {
	padding: 2rem 0;
}
.form-row-calculat_box {
	margin-top: 2rem;
}

.pricing-calculator__price {
	font-size: 3rem;
	font-weight: 900;
	color: $color-heading;
	line-height: 1.2;
}
.collapseBreakdown {
	color: $color-text;
	display: inline-block;
}

.col-pricing {
	margin-bottom: 30px;
}
.pricing-item {
	min-height: 100%;
	text-align: center;
	background-color: $bg-gray;
	border: 1px solid $bg-gray;
	padding: 2.5rem 1.5rem;
	.pricing-title {
		font-size: 4rem;
		color: $color-darkblue;
		font-weight: 900;
	}
	.pricing-label {
		font-size: .875rem;
	}
	.pricing-desc {
		padding-top: 30px;
		font-size: 1.125rem;
		color: $color-heading;
	}
}
.pricing-flat {
	background-color: $white;
	border-color: $border-color;
}

.powerful-feature-item {
	.powerful-feature-icon {
		margin-bottom: 10px;
		img {
			max-width: 50px;
		}
	}
	.powerul-feature-title {
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.powerful-feature-lists {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		i {
			color: $color-primary;
			font-size: 1.25rem;
			width: 24px;
		}
		li {
			display: block;
			+ li {
				margin-top: 10px;
			}
		}
	}
}

.block-security-enhance {
	background-color: #e1e1e1;
	.security-enhance-icon {
		text-align: center;
		img {
			max-width: 160px;
		}
	}
	.security-enhance-title {
		margin-bottom: 1rem;
	}
	.security-enhance-lists {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		i {
			color: $color-primary;
			font-size: 1.25rem;
			width: 24px;
		}
		li {
			display: block;
			+ li {
				margin-top: 10px;
			}
		}
	}
}

.table-pricing {
	th, td {
		padding: 1rem;
	}
	thead {
		th {
			background-color: #fafafa;
			border-top: 0;
			border-bottom: 0;
			font-weight: 500;
			color: $color-darkblue;
		}
	}
	tbody {
		tr {
			td {
				border-top-color: #e8e8e8;
			}
			&:last-child {
				td {
					border-bottom: 1px solid #e8e8e8;
				}
			}
		}
	}
}

.pricing-faqs {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	border-bottom: 2px solid $border-color;

	li {
		border-top: 2px solid $border-color;
	}
	.pricing-faq-body {
		padding: 1rem 2rem;
	}
	.pricing-faq-heading {
		font-size: 1.5rem;
		padding: .75rem 0;
		a {
			color: $color-heading;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			text-decoration: none;
			position: relative;
			&:after {
				content: " ";
				font-size: 14px;
				transition: all .25s linear;
			}
		}
		[aria-expanded="false"] {
			&:after {
				content: " show +";
			}
		}
		[aria-expanded="true"] {
			&:after {
				content: " hide -";
			}
		}

	}
}