.request-demo-form-wrap {
	background-color: $white;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	padding: 40px;
	margin-top: 30px;
	.form-control, .custom-select {
		border-color: $border-color;
		color: $color-text;
		height: calc(2.75rem + 2px);
	}
	.custom-control-label {
		line-height: 1.1;
	}
}

.product-demo-subtext {
	font-size: 1.125rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}