@media (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}
	.navbar {
		.dropdown-menu {
			min-width: 260px;
		}
	}
	.c__facilities { 
		li {
			max-width: 50%;
        	flex: 0 0 50%;
		}
	}
	.hero-demure {
		.hero-demure-bg {
			background-size: 1500px;
		}
	}
	.col-footer {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 992px) {
	.para-lead_desktop {
		line-height: 1.6;
	}
	.hero-demure {
		min-height: 590px;
		.hero-demure-bg {
			background-size: 1800px;
		}
		.hero-heading {
			margin-top: 4rem;
		}
	}
	.hero-home-unique {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;

	}
	.block-pt-xl, .block-py-xl {
		padding-top: 9rem !important;
	}
	.block-pb-xl, .block-py-xl {
		padding-bottom: 9rem !important;
	}
	.hero-pages-default {
		min-height: 62vh;
		padding-top: 9rem;
		padding-bottom: 9rem;
		.hero-heading {
			
		}
	}
	.hero-home-screens-wrap {
		margin-right: -10%;
	}
	.navbar {
		padding: .625rem 1rem;
	}
	.pricing-card {
		padding: 3rem;
	}
	.navbar-clone {
		&.navbar-expand-lg {
			.navbar-nav .nav-link {
			    padding-right: 1rem;
			    padding-left: 1rem;
			}
		}
	}
	.dropdown-grid-stacked {
		[class*="col-"] {
			&:nth-child(3n) {
				.dropdown-item {
					border-right: 0;
				}
			}
			&:nth-last-child(3n+3) {
				.dropdown-item {
					border-bottom: 0;
				}
			}
		}
	}
	.navbar-expand-lg {
		.navbar-nav .nav-link {
			padding-left: .5rem;
    		padding-right: .5rem;
		}
		.nav-item-btn {
			margin-left: 0;
		}
	}
	
	.perspective-image {
	    perspective: 480px;
	    transform-style: preserve-3d;

	    img {
		    transform: rotate3d(0, -1, 0, 15deg); 
		    border-radius: .5rem;    
		}
	}
	
}
@media (min-width: 1200px) {
	.navbar-expand-lg {
		.navbar-nav .nav-link {
			padding-left: 1.25rem;
    		padding-right: 1.25rem;
		}
		.nav-item-btn {
			margin-left: 0;
		}
	}
	.hero-demure {
		.hero-demure-bg {
			background-size: 2200px;
		}
	}
}
@media (min-width: 1600px) {
	.hero-demure {
		.hero-heading {
			font-size: 3rem;
			margin-top: 4rem;
		}
	}
	.hero-home {
		.hero-heading {
			font-size: 2.75rem;
		}
		.hero-subtext {
			font-size: 1.25rem;
		}
	}
	.section-heading {
		font-size: 2.75rem;
	}
	.common-header-group {
		.common-heading {
			font-size: 2.75rem;
		}
	}
	.hero-pages-default {
		.hero-heading {
			font-size: 3rem;
		}
	}

	.para-lead_desktop {
		font-size: 1.25rem;
		line-height: 1.8;
	}

	.hero-demure {
		.hero-demure-bg {
			background-size: cover;
		}
	}
	.foo-get_request .foo-get_request_heading {
		font-size: 2.25rem;
	}
}

@media (max-width: 991px) {	
	.body-padding-topHome {
		padding-top: 48px;
	}
	.section-split-bg.split-bg-w_80:before {
		max-width: 100%;
	}
	.perspective-image {
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {


	h1 {
		font-size: $font-size-base * 2;
	}
	h2 {
		font-size: $font-size-base * 1.75;
	}
	h3 {
		font-size: $font-size-base * 1.5;
	}
	h4 {
		font-size: $font-size-base * 1.25;
	}
	.foo-get_request .foo-get_request_heading, .section-heading {
		font-size: $font-size-base * 1.75;
	}

	.section {
		padding-top: $block-space-sm;
		padding-bottom: $block-space-sm;
	}
	.has-col-mb {
		padding-bottom: $block-space-sm - $gutter-space;
	}

	.hero-demure {
		.hero-demure-bg {
			background-size: 800px;
			opacity: .2;
		}
		.hero-mask {
			width: 130%;
			bottom: -2px;
		}
	}
	.hero-home-unique {
		text-align: center;
		.hero-home-screens {
			margin-top: 1rem;
		}
	}
	.hero-pages-default {
		.hero-text {
			font-size: 1.125rem;
		}
	}
	.desktop-only {
		display: none !important;
	}
	.col-footer {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.featured-roof {
		text-align: center;
		margin-top: $gutter-space;
		img {
			width: 90%;
			max-width: 180px;
			margin-bottom: 1.5rem;
		}
		.roof-title {
			margin-bottom: .5rem;
		}
	}
	.i__connect_image {
		img {
			width: 90%;
			max-width: 180px;
		}
	}
	.itemflex-customer {
		.customer-image {
			height: auto;
			&:before {
				display: block;
				content: " ";
				padding-top: 62.5%;
			}
		}
		.customer-content {
			min-height: auto;
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	.section-customer-success, .section-integrations {
		text-align: center;
	}
	.mission-item {
		margin-left: auto;
		margin-right: auto;
	}
	.logo-bar-vertical {
		margin-top: 0;
		padding-left: 0;
	}

	.flow-item {
		text-align: center;
		.flow-content {
			margin-top: 1.5rem;
		}
		.flow-header .flow-heading {
			margin-bottom: .5rem;
		}
	}

	.double_highlights-bg {
		.col-double_highlights-bg {
			height: 50%;
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.footer {
		text-align: center;
		padding-top: $block-space-sm;
	}
	.footer-demo {
		padding-bottom: $block-space-sm;
	}
	.footer-nav {
		justify-content: center;
	}
}
@media (max-width: 575px) {
	h1, h2 {
		font-size: $font-size-base * 1.75;
	}
	.col-footer {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.foo-copyright {
		order: 10;
		margin-right: 0 !important;
	    width: 100%;
	    max-width: 100%;
	    flex: 0 0 100%;
	}
}
