.nav-resources {
	margin-bottom: 30px;

	.nav-link {
		font-weight: 600;
		color: $color-text;
		border-radius: 0;
		position: relative;
		padding: 10px 20px;
		&:before {
			content: " ";
			position: absolute;
			left: 50%;
			top: 100%;
			background-color: $primary;
			width: 100%;
			height: 0;
			transform: translateX(-50%);
			opacity: 0;
			transition: height opacity .3s linear;
		}
		&:hover, &:focus {
			color: $primary;
			background-color: transparent;
		}
	}
	
	.active {
		color: $primary;
		&:before {
			height: 1px;
			opacity: 1;
		}
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}
.resources-card {
	position: relative;
	background-color: #fff;
	border: 1px solid #ebebeb;
	margin-bottom: 2rem;
	transition: all 250ms cubic-bezier(.215,.61,.355,1);
	.resources-image {
		position: relative;
		min-height: 235px;
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.resources-denote {
		padding: 1.25rem 1rem;
	}
	.resources-label {
		font-size: 1rem;
	}
	.resources-title {
		font-size: 1.5rem;
		margin-top: 0;
		line-height: 1.2;
	}
	.r-link {
		margin-top: 1.5rem;
		i {
			margin-right: .5rem;
		}
	}
	.overlay-link {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	&.r-hero {
		border: none;
		background-color: #f1f1f1;
		.resources-image {
			min-height: 350px;
		}
		.resources-denote {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		.resources-title {
			font-size: 1.75rem;
			font-weight: bold;
			margin-top: 1rem;
		}
		.resources-label {
			font-size: 1.125rem;
		}
		.btn {
			margin-top: 2rem;
		}
	}
}
.resources-details {
	.resources-label {

	}
	.resources-title {
		font-size: 38px;
		margin-top: 0;
		margin-bottom: 40px;
	}
}
.resources-details-block-inside {
	background-color: #f1f1f1;
	padding: 20px;
}

.presenters {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		  align-items: flex-start;
		+ li {
			margin-top: 20px;
		}
	}
	.p-image {
		margin-right: 20px;
	}
	img {
		width: 80px;
		height: 80px;
		border-radius: 1000px;
	}
	p {
		margin-bottom: 0;
	}
}