.owner-block {
    position: relative;
    z-index: 10;
    padding: 40px;
    .owner-block-image {
        width: 128px;
        height: 128px;
        overflow: hidden;
        padding: 0;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 64px;
        border: 3px solid $primary;
    }
    .owner-block-quote {
        font-size: 16px;
        line-height: 1.6875;
        color: #838992;
        margin-top: 25px;
        height: 120px;
        &:before {
            content: "“";
            width: 1em;
        }
        &:after {
            content: "”";
            width: 1em;
        }
    }
    .owner-block-name {
        font-weight: 500;
    }
    p {
        margin-bottom: 0;
    }
    .owner-block-job {
        font-size: 12px;
        color: #838992;
    }
    .owner-block-cta {
        a {
            font-size: 12px;
            color: #016199;
            &:after {
                content: "→";
                display: inline-block;
                width: 1em;
                margin-left: .5em;
            }
        }
    }
}

.team-image {
    margin-top: 50px;
    img {
        max-width: 100%;
    }
}

.address-list {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    li {
        list-style: none;
    }
}
.map-image {
    max-width: 100%;
}