/* SECTION
*************************************************** */
.section {
	position: relative;
	width: 100%;
	padding-top: $block-space;
	padding-bottom: $block-space;
}

.has-col-mb {
	padding-bottom: calc(#{$block-space} - 30px);
	padding-bottom: $block-space - $gutter-space;
}
.block-mt, .block-my {
	margin-top: $block-space;
}
.block-mb, .block-my {
	margin-bottom: $block-space;
}

.section-heading {
	/* font-size: 2.25rem; */
	line-height: 1.1;
	margin-bottom: 2rem;
}
.header-group {
	margin-bottom: 2rem;
	.section-heading {
		margin-bottom: 1rem;
	}
}

.common-header-group {
	margin-bottom: 2rem;
	.common-heading {
		/* font-size: 2.25rem; */
		line-height: 1.1;
		margin-bottom: 0;
	}
	.common-text {
		margin-top: 1rem;
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


.viewport-cover {
	height: 100vh;
}
.viewport-min-cover {
	min-height: 100vh !important;
}
.stuck {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;	
}





