
.navbar-sign {
	background-color: $white;
	box-shadow: 0 5px 10px rgba($color-darkblue, .1);
	padding: .625rem 1rem;

	.sign-brand img {
		max-width: 160px;
		margin: 0 auto;
	}
}
.sign-card {

}

.section-sign {
	min-height: 60vh;
	width: 100%;
}
.sign-brand-box {
	margin-bottom: 1.5rem;
	.sign-brand {
		display: block;
		width: 100%;
		max-width: 160px;
		margin: 0 auto;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.sign-header {
	padding-bottom: 2.5rem;
}

.sign-heading {
	font-size: 1.75rem;
	margin-bottom: 1.5rem;
}
.sign-footer {
	padding-top: 2.5rem;
}
.sign-case {
	.form-control {
		font-size: 1rem;
		border-radius: 0;
		color: $color-darkblue;
	}
	.btn {
		border-radius: 0;
		font-size: 1rem;
	}
	.btn-log {
		margin-top: 1rem;
	}
}
.sign-need_help {
	color: $color-darkblue;
}

.f_not-register {
	border-top: 1px solid rgba($color-darkblue, .15);
	padding-top: 1rem;
    margin-top: 2.25rem;
    .not-register-title {
    	display: inline-block;
    	margin-right: .875rem;
    }
}

.btn-not-register {
	border: 1px solid $color-tertiary;
	color: $color-tertiary;
	padding: .375rem 1.25rem;
	display: inline-block;
	transition: .25s linear;

	&:hover {
		background-color: $color-tertiary;
		color: $white;
		text-decoration: none;
	}
}
.sign-go_home {
	display: inline-block;
	margin-top: 4rem;
	color: $color-tertiary;
}