.hero-inside-image {
	margin-top: 4rem;
	position: relative;
	img {
		width: 100%;
	}
	&.--solution {
		margin-bottom: -1rem;
	}
}

.successful-all_in_one-lists {
	list-style: none;
	padding-left: 0;
	margin: 0 -15px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	li {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.all_in_one-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 100px;
	margin: 1rem auto 0;
	.all_in_one-icon {
		width: 50px;
		height: 50px;
		position: relative;
		margin: 0 auto .875rem;
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}

.flow-item-solution {
	.flow-label {
		margin-bottom: .5rem;
	}
}

.flow-ensure-lists {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	li {
		border-bottom: 1px solid $white;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		&:before {
			font-family: "Ionicons";
			content: "\f2bc";
			margin-right: .5rem;
			color: $primary;
		}
	}
}

@media (min-width: 992px) {
	.flow-right-image {	
		.flow-content {
			padding-right: 5rem;
		}
	}
	.flow-left-image {
		.flow-content {
			padding-left: 5rem;
		}
	}
}