.line-break {
	background-color: #ebebeb;
    width: 100%;
    height: 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: block;
}
.pin-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	  -ms-flex-align: start;
	      align-items: flex-start;
	+ .pin-item {
		margin-top: 2rem;
	}
	.pin-image {
		margin-right: 1.25rem
	}
	h5 {
		margin-top: 0px;
		margin-bottom: .75rem;
	}
}
.connect-data-images {
	img {
		max-width: 600px;
		height: auto;
	}
}


.card-training {
	background-color: $white;
	min-height: 100%;
	border: 1px solid $border-color;
	.training-image {
		position: relative;
		&:before {
			content: " ";
			display: block;
			padding-top: 75%;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
		}
	}
	.training-denote {
		padding: 30px;
	}
	.training-title {
		a {
			color: $color-darkblue;
		}
	}
	.training-text {
		p {
			margin-bottom: 0;
		}
	}
}

.training-highlighter {
	p {
		margin-bottom: 0;
	}
}

.training-award-item {
	.award-icon {
		margin-bottom: 1rem;
	}
	.award-text {
		p {
			margin-bottom: 0;
		}
	}
}