/* UTILITIES / HELPER CLASSES
*************************************************** */
.fs-1 { font-size: .25rem !important; }
.fs-2 { font-size: .5rem !important; }
.fs-3 { font-size: .75rem !important; }
.fs-4 { font-size: 1rem !important; }
.fs-14 { font-size: 14px !important; }
.fs-16 { font-size: 16px !important; }
.fs-18 { font-size: 18px !important; }
.fs-20 { font-size: 20px !important; }
.fs-22 { font-size: 22px !important; }
.fs-24 { font-size: 24px !important; }
.fs-26 { font-size: 26px !important; }
.fs-28 { font-size: 28px !important; }
.fs-30 { font-size: 30px !important; }
.fs-32 { font-size: 32px !important; }
.fs-34 { font-size: 34px !important; }
.fs-36 { font-size: 36px !important; }
.fs-38 { font-size: 38px !important; }
.fs-40 { font-size: 40px !important; }

.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }
.fw-900 { font-weight: 900 !important; }

.fw-light { font-weight: 300 !important; }
.fw-normal { font-weight: 400 !important; }
.fw-bold { font-weight: 700 !important; }


.c-mt, .c-my {
  margin-top: $gutter-space !important;
}
.c-mb, .c-my {
  margin-bottom: $gutter-space !important;
}



.color-muted { color: $color-muted; }
.color-primary {color: $primary; }
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $color-darkblue !important;
}

.footer-dark {
  background-color: $footer-dark !important;
}

.pt-15 { padding-top: 15px !important }

.container-max-700 {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.absolute {
  position: absolute !important;
}

.color-heading {
  color: $color-heading !important;
}
.color-primary {
  color: $primary !important;
}
.color-secondary {
  color: $secondary !important;
}

.t-primary {
  color: $color-primary !important;
}

.-pointer {
  cursor: pointer !important;
}
.h-80 {
  min-height: 80%;
}

.bg-white {
  background-color: $white !important;
}
.o-hidden {
  overflow: hidden;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-overlay {
  position: relative;
  &:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include background-opacity(#000, .6);
  }
}

.link-disabled {
  pointer-events: none !important;
}

.line-break {
  background-color: #ebebeb;
    width: 100%;
    height: 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: block;
}

.ls-1 { letter-spacing: .063rem; }
.relative { position: relative !important;}

.p-lead {
  font-size: 1.25rem;
}

.section {
  &.on-dark {
    h1, h2, h3, h4, h5, h6, p, div, span {
      color: #fff;

    }
  }
}
.on-dark {
	h1, h2, h3, h4, h5, h6, p, div, span {
      color: #fff
    }
}
.cover-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-light-gredient {
  background-image: -webkit-linear-gradient(270deg, #f5f7fa, #fff) !important;
  background-image: linear-gradient(180deg, #f5f7fa, #fff) !important;
}
.bg-gray {
  background-color: $bg-gray !important;
}
.bg-dark {
  background-color: #2f3b4b !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-secondary {
  background-color: $cyan !important;
}
.bg-darkblue {
  background-color: $color-darkblue !important;
}
.c-green {
  color: #00a651 !important;
}
.c-pink {
  color: #f498bc !important;
}
.c-orange {
  color: #ff7c42 !important;
}
.c-yellow {
  color: #ffc502 !important;
}
.has-overlay {
	position: relative;
	&:before {
		content: " ";
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 0;
		top: 0;
	}
}

.link-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.s-pt {
  padding-top: $section-gutter;
}
.s-pb {
  padding-bottom: $section-gutter;
}
.t-white {
  color: $white !important;
}

.gutters-10 {
  margin-left: -5px;
  margin-right: -5px;
  [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}
